/********************************************************************************************************************************************************************************************************************
                                                                //--Header--//
********************************************************************************************************************************************************************************************************************/
p.header{
    display: inline;
    
}
/********************************************************************************************************************************************************************************************************************
                                                                //--Links--//
********************************************************************************************************************************************************************************************************************/
a:hover{
    color: red;
    background-color: white;
}
form.lientop{
    float: inline-start;
    
}
nav.bottom{
    padding-right: 500px;
    float: initial;
}
/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Body_(Accueil)_--//
********************************************************************************************************************************************************************************************************************/
img.promo_jarditou{
    float: left;
    display: block;
}
article.body_article{
    width: 825px;
    float: left;
    display: inline;
}
section.body_accueil{
    position: relative;
    display: inline-flex;
    border: 2px solid rgb(170, 170, 1);
    background-color: rgb(230, 230, 0);
    float: right;
    padding-bottom: 399px ;
    padding-right: 130px;
}
/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Body_(Tableau)_--//
********************************************************************************************************************************************************************************************************************/

/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Body_(Contact)_--//
********************************************************************************************************************************************************************************************************************/

/*******************************************************************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************************************************************
                                                                //--Media_Résponcive--//
********************************************************************************************************************************************************************************************************************/
 @media screen and (max-width: 991px) {
    li{
        display: block;
        font-size: 75%;
    }
    article.body_article{
    max-width: 50;
    font-size: 50%;
    height: auto;
    }
    section.body_accueil{
        padding-bottom: 50px ;
        padding-right: 870px;
        padding-left: 30px;
        text-align: center;
        float: left;
    }
    p.body_accueil{
        text-align: center;
    }
}
@media screen and (max-width: 1110px) {
    section.body_accueil{
        padding-bottom: 0px ;
        padding-right: 870px;
        padding-left: 30px;
        text-align: center;
        width: 100%;
    }
}
li.bottom{
   font-size: small; 
}
img 
{
     max-width: 100%;
     height: auto;
}
p.header{
    padding: 120px;
}
/*******************************************************************************************************************************************************************************************************************/